.home-clients {
    position: relative;
    background-color: $corGrayPrincipal;
    padding: 100px 0px;
    body.dark & {
        background-color: $corGrayDark;
    }
    h3 {
        font-size: 2.2em;
        margin-bottom: 15px;
        color: $corSecundaria;
        body.dark & {
            color: $corTextDark;
        }
    }
    .list-clients {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
        .single-clients {
            background-color: $corBranco;
            padding: 15px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            min-height: 150px;
            body.dark & {
                background-color: $corDark;
            }
        }
    }
}
@media screen and (max-width: $xsWidth) {
    .home-clients {
        h3 {
            text-align: center;
            font-size: 1.5em;
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    .home-clients {
        h3 {
            text-align: center;
            font-size: 1.5em;
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) {
	
}