.page-biography {
	h2 {
		margin: 30px 0px 5px;
	}
    .box-biography {
        .about-figure {
            text-align: center;
            .img-about {
                width: 100%;
                max-width: 370px;
            }
        }
    }
}